{
  "env": {
    "jest": true
  },
  "extends": "@felipstein/eslint-config-node",
  "rules": {
    "no-use-before-define": "off",

    "no-param-reassign": "off",

    "no-control-regex": "off"
  }
}
