{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {},
    "target": "es2016",
    "loose": false,
    "minify": {
      "compress": true,
      "mangle": true
    },
    "externalHelpers": false,
    "keepClassNames": false,
    "baseUrl": ".",
    "paths": {
      "@server/*": ["./src/server/*"],
      "@server": ["./src/server"],

      "@application/*": ["./src/application/*"],
      "@application": ["./src/application"],

      "@factories/*": ["./src/factories/*"],
      "@factories": ["./src/factories"],

      "@infra/*": ["./src/infra/*"],
      "@infra": ["./src/infra"],

      "@shared/*": ["./src/shared/*"],
      "@shared": ["./src/shared"]
    }
  },
  "minify": true
}
